* {
  margin: 0;
}
.container{
  background: #DCDCDC;
  display: flex;
  align-items: flex-start;
}

.box{
  padding: 30px;
  color: white;
  font-family: poppins, "Helvetica Neue", arial,sans-serif;
  font-size: 1.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
}
.box1{
  background-color: #00FFFF;
}
.box2{
  background-color: #006400;
}
.box3{
  background-color: #6495ED;
}
.box4{
  background-color: #9932CC;
}
.box5{
  background-color: #2F4F4F;
}
.box6{
  background-color: #FFD700;
}
.box7{
  background-color: #FF8C00;
}
.box8{
  background-color: #DC143C;
}
.box9{
  background-color: #A9A9A9;
}
.box10{
  background-color: #696969;
}

}
.container2{
  background: #DCDCDC;

}
.box{
  padding: 30px;
  color: white;
  font-family: poppins, "Helvetica Neue", arial,sans-serif;
  font-size: 1.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
}
.box1{
  background-color: #00FFFF;
}
.box2{
  background-color: #006400;
}
.box3{
  background-color: #6495ED;
}
.box4{
  background-color: #9932CC;
}
.box5{
  background-color: #2F4F4F;
}
.box6{
  background-color: #FFD700;
}
.box7{
  background-color: #FF8C00;
}

}
.container3{
  background: #DCDCDC;
  float: left;
}

.box{
  padding: 30px;
  color: white;
  font-family: poppins, "Helvetica Neue", arial,sans-serif;
  font-size: 1.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 200px;
}
.box1{
  background-color: #00FFFF;
}
.box2{
  background-color: #006400;
}
.box3{
  background-color: #6495ED;
}
.box4{
  background-color: #9932CC;
}
.box5{
  background-color: #2F4F4F;
}
.box6{
  background-color: #FFD700;
}
.box7{
  background-color: #FF8C00;
}
.box8{
  background-color: #DC143C;
}
.box9{
  background-color: #A9A9A9;
}
.box10{
  background-color: #696969;
}
